# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
backend/venv/
venv1/


# Django
db.sqlite3
*.log
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db