# Python
__pycache__/
*.pyc

# Virtual Environment
backend/venv/
venv1/
env/
myvenv/
# Django
db.sqlite3
*.log
staticfiles/

# Environment variables
.env
venv

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db