# Media and Large Files
media/
course_thumbnails/
*.mp4
*.mov
*.avi
*.mkv

# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
venv1/
env/
myvenv/

# Django
db.sqlite3
*.log
staticfiles/

# Environment variables
.env

# IDEs
.vscode/

# OS
.DS_Store
Thumbs.db